.header{
    color:red;
    border:1px solid black;
    font-weight: bold;
}

td{
    border:1px solid black;
    padding: 5px;
}

label{
    margin: 5px;
}


.contenitore{
    background-color: darkgrey;
    margin: 5px;
}
body{
    margin-bottom: 50px;
}